.container {
  position: absolute;
  top: .5rem;
  left: 1rem;
  padding: .5rem;
  border: none;
  color: #DDDDDD;
  background: transparent;
  font-size: 1rem;
  transition: .25s ease-in-out;
  &:hover{
    cursor: pointer;
    color: white;
  }
}
@media screen and (min-width: 21.75rem){
  .container{
    top: .75rem;
  }
}