.container {
  position: absolute;
  bottom: 1rem;
  left: calc(10%);
  animation: move 4s ease-in-out;
  transition: .25s ease-in-out;
}
@keyframes move {
  25% {
    transform: translateY(10px);
  }
  75% {
    transform: translateY(-10px);
  }
}