@font-face {
    font-family: "RadiateSansBold";
    src: url("radiate-sans-bold.ttf");
    src: url("radiate-sans-bold.woff") format("woff"),
    url("radiate-sans-bold.woff2") format("woff2");
}

/** {*/
/*    outline: 1px red solid;*/
/*}*/

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    max-width: 100dvw;
    min-height: 100dvh;
    background-color: #1A1A1A;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    max-height: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1 {
    font-size: 3.75rem;
    font-family: "RadiateSansBold", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}


h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;

}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;

}

.gradient {
    background: linear-gradient(to right, #24A3B7, #3E727A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}