.container {
  min-height: 100dvh;
  position: relative;
  //background-color: #0D0D0D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 1rem;

  h2 {
    margin-bottom: 1rem;
  }
}